
<div *ngIf="isSignedUp; else signupForm">
    Your registration is successful. Please login!
  </div>
  
 <ng-template #signupForm>
        <form [formGroup]="staffsaveform" 
        #savestaff (ngSubmit)="saveStaff(saveStaff)">
            <h4 style="text-align: center;" > Create Staff </h4><br> 
            
            <div class="form-group">
                    <label for="name">
                        Staff Name
                    </label>
                    <input type="text" class="form-control" formControlName="staffName" 
                    data-toggle="tooltip" data-placement="right" title="Enter Staff Name">
                    <div class="alert alert-danger" *ngIf="(StaffName.touched)
                    &&(StaffName.invalid)" style="margin-top: 5px;">
                        <span *ngIf="StaffName.errors.required">
                            Staff Name is Required
                        </span>
                    </div>
                </div>
                <div class="form-group">
                        <label for="salary">
                            Staff Salary
                        </label>
                        <input type="number" class="form-control" formControlName="baseSalary" 
                        data-toggle="tooltip" data-placement="right" title="Enter Staff Base Salary">
                        <div class="alert alert-danger" *ngIf="(StaffBaseSalary.touched)
                        &&(StaffBaseSalary.invalid)" style="margin-top: 5px;">
                            <span *ngIf="StaffBaseSalary.errors.required">
                                Staff Base Salary is Required
                            </span>
                        </div>
                    </div>
                <!-- email -->
                <div class="form-group">
                        <label for="email">
                            Staff Email
                        </label>
                        <input type="email" class="form-control" formControlName="email" 
                        data-toggle="tooltip" data-placement="right" title="Enter Staff Email Salary">
                        <div class="alert alert-danger" *ngIf="(StaffEmail.touched)
                        &&(StaffEmail.invalid)" style="margin-top: 5px;">
                            <span *ngIf="StaffEmail.errors.required">
                                Staff Email is Required
                            </span>
                        </div>
                    </div>
                <!-- role -->
                <div class="form-group">
                        <label for="role">Staff Role</label>
                        <select class="form-control" formControlName="role" 
                        data-toggle="tooltip" data-placement="right" title="Select Staff Role">
                            <option value="null">--Select Role--</option>
                            <option value="MANAGER">Manager</option>
                            <option value="DELIVERY_BOY">Delivery boy</option>
                        </select>
                </div>
                <!-- tc -->
                <div class="form-group">
                        <label for="tc">
                            Staff Transport Centre Id
                        </label>
                        <input type="number" class="form-control" formControlName="tc" 
                        data-toggle="tooltip" data-placement="right" title="Enter Staff Transport Centre">
                        <div class="alert alert-danger" *ngIf="(StaffTCID.touched)
                        &&(StaffTCID.invalid)" style="margin-top: 5px;">
                            <span *ngIf="StaffTCID.errors.required">
                                Staff Transport Centre is Required
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                            <label for="username">
                                Staff Username
                            </label>
                            <input type="text" class="form-control" formControlName="staffUsername" 
                            data-toggle="tooltip" data-placement="right" title="Enter Client Username">
                            <div class="alert alert-danger" *ngIf="(StaffUsername.touched)
                            &&(StaffUsername.invalid)" style="margin-top: 5px;">
                                <span *ngIf="StaffUsername.errors.required">
                                    Client Username is Required
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username">
                                Client Password
                            </label>
                            <input type="password" class="form-control" formControlName="staffPassword" 
                            data-toggle="tooltip" data-placement="right" title="Enter Staff Password">
                            <div class="alert alert-danger" *ngIf="(StaffPassword.touched)
                            &&(StaffPassword.invalid)" style="margin-top: 5px;">
                                <span *ngIf="StaffPassword.errors.required">
                                    Client Password is Required
                                </span>
                            </div>
                        </div>
            <button class="submit" class="btn btn-success">
                Submit
            </button>
        </form>
      
    </ng-template>