<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#ad82e4">
  <a class="navbar-brand" href="#">Menu</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li *ngIf="authority === 'client'" class="nav-item">
            <a class="nav-link" routerLink="clientboard">User Board</a>
          </li>
          <li *ngIf="authority === 'user'" class="nav-item">
              <a class="nav-link" routerLink="userboard">User Board</a>
            </li>
            <li *ngIf="authority === 'admin'" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Consignment
                </a><!--dropdown menu todo-->
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="nav-link" routerLink="book-consignment">Add Consignment</a>
                  <a class="nav-link" routerLink="view-consignment">View Consignments</a>
                </div>
              </li>
          <li *ngIf="authority === 'admin'" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Transport Centre
            </a><!--dropdown menu todo-->
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="nav-link" routerLink="add-transportcentre">Add Transport Centre</a>
              <a class="nav-link" routerLink="list-transportcentre">View Transport Centres</a>
            </div>
          </li>
          <li *ngIf="authority === 'admin'" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Client
            </a><!--dropdown menu todo-->
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="nav-link" routerLink="client-and-account-register">Add Client</a>
              <a class="nav-link" routerLink="list-client">List Clients </a>
            </div>
          </li>
          <li *ngIf="authority === 'admin'" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Employee
              </a><!--dropdown menu todo-->
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="nav-link" routerLink="employee-and-account-register">Add Employee</a>
                <a class="nav-link" routerLink="list-staff">List Employee</a>
              </div>
            </li>
            <li *ngIf="authority === 'admin'" class="nav-item">
                <a class="nav-link" routerLink="payroll-admin">Payroll</a>
              </li>
    </ul>
  </div>
  <!-- <ul class="nav nav-pills">
      <a *ngIf="!authority" class="nav-item" routerLink="auth/login">
        Login
    </a>
  </ul> -->  
 </nav>

  <router-outlet></router-outlet>

 