<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#ad82e4">
  <a class="navbar-brand" href="#">Menu</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li *ngIf="authority === 'user'" class="nav-item">
            <a class="nav-link" routerLink="user">User Board</a>
          </li>
          <li *ngIf="authority === 'client'" class="nav-item">
            <a class="nav-link" routerLink="clientboard">Client Data</a>
          </li>
          <li *ngIf="authority === 'admin'" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Transport Centre
            </a><!--dropdown menu todo-->
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="nav-link" routerLink="add-transportcentre">Add Transport Centre</a>
              <a class="nav-link" routerLink="list-transportcentre">View Transport Centres</a>
            </div>
          </li>
          <li *ngIf="authority === 'admin'" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Client
            </a><!--dropdown menu todo-->
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="nav-link" routerLink="client-and-account-register">Add Client</a>
            </div>
          </li>
          <li *ngIf="authority === 'client'" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Client Data
            </a><!--dropdown menu todo-->
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="nav-link" routerLink="clientboard">Info</a>
            </div>
          </li>
    </ul>
  </div>
  <!-- <ul class="nav nav-pills">
      <a *ngIf="!authority" class="nav-item" routerLink="auth/login">
        Login
    </a>
  </ul> -->  
 </nav>
<div class="card" style="align-items: center; max-width: 100%;">
  <router-outlet></router-outlet>
</div>
 